{% extends "home/base.html" %}

{% block content %}
    <div class="container">
        <h2 class="alert alert-light">Card: {{ card.title }}</h2>
        <h4 class="alert alert-dismissible">Description: {{ card.content }}</h4>

        {% if card.image %}
            <img src="{{ card.image.url }}" class="this text-center rounded-circle">
        {% endif %}
        <br>

            <a href="{% url "users_cards:card_add_event" url=card.url %}" class="btn btn-success">Add event</a>

            <a href="{% url "users_cards:card_delete" url=card.url %}" class="btn btn-danger">Delete this card</a>

        <hr>

        <h1 class="alert alert-info text-center">Future events:</h1>
        <hr>

        <style>
            .this{
                width: 320px;
            }
        </style>

        <div class="row">
            {% for obj in objects %}
                {% if not obj.finished %}
                    {% if forloop.counter0|divisibleby:3 %}
                        </div><br><br><div class="row">
                    {% endif %}
                        <div class="col-xs-4 col-lg-4">
                            <div class="card card-cascade width_card" style="margin-bottom: 20px; width: 320px;">
                              <div class="view view-cascade overlay">
                                  {% if obj.image %}
                                        <div class="text-center avatar mx-auto white">
                                            <img src="{{ obj.image.url }}" class="this text-center rounded-circle">
                                        </div>
                                    {% endif %}
                                      <div class="mask flex-center rgba-black-strong">
                                        <p class="white-text">Title: {{ obj.title }}</p>
                                    </div>
                              </div>
                              <div class="card-body card-body-cascade text-center">
                                <p class="card-text">Content: {{ obj.content }}</p>
                                <a class="text-left btn btn-warning" href="{% url "users_cards:event_finished_delete" url=card.url id=obj.id slug='finished' %}">Finished</a>
                                <a class="text-left btn btn-danger" href="{% url "users_cards:event_finished_delete" url=card.url id=obj.id slug='delete' %}">Delete</a>

                              </div>
                            </div>
                        </div>
                {% endif %}
            {% endfor %}

            </div>
        <br>
        <h1 class="alert alert-success text-center">Recent:</h1>
        <div class="row">
            {% for obj in objects %}
                {% if obj.finished %}
                    {% if forloop.counter0|divisibleby:3 %}
                            </div><br><br><div class="row">
                        {% endif %}
                            <div class="col-xs-4 col-lg-4">
                                <div class="card card-cascade width_card" style="margin-bottom: 20px; width: 320px;">
                                  <div class="view view-cascade overlay">
                                      {% if obj.image %}
                                            <div class="text-center avatar mx-auto white">
                                                <img src="{{ obj.image.url }}" class="this text-center rounded-circle">
                                            </div>
                                        {% endif %}
                                          <div class="mask flex-center rgba-black-strong">
                                            <p class="white-text">Title: {{ obj.title }}</p>
                                        </div>
                                  </div>
                                  <div class="card-body card-body-cascade text-center">
                                    <p class="card-text">Content: {{ obj.content }}</p>
                                    <a class="text-left btn btn-warning" href="{% url "users_cards:event_finished_delete" url=card.url id=obj.id slug='finished' %}">Finished</a>
                                    <a class="text-left btn btn-danger" href="{% url "users_cards:event_finished_delete" url=card.url id=obj.id slug='delete' %}">Delete</a>

                                  </div>
                                </div>
                            </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}
